<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  {{>"sidebar"}}
  <!-- End of Sidebar -->


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      {{>"topbar"}}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        {{!-- <h1 class="h3 mb-4 text-gray-800">Models</h1> --}}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary h5">Api Data for: <code>{{resource.name}}</code>
              <a href="/dashboard/resource/list"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"><i
                  class="fas fa-arrow-left fa-sm text-white"></i> Back </a>

              <a href="/dashboard/resource/{{resource.id}}/api-data/new"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right mr-1"><i
                  class="fas fa-plus fa-sm text-white"></i> Add New Data </a>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                {{#if apiData.length}}
                <thead>
                  <tr>
                    <th>Id</th>
                    {{#each apiData.0.data}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Created On</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Id</th>
                    {{#each apiData.0.data}}
                    <th>{{@key}}</th>
                    {{/each}}
                    <th>Created On</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
                {{else}}
                <tr>
                  <td>No API Data found</td>
                </tr>
                {{/if}}
                <tbody>
                  {{#each apiData}}
                  <tr>
                    <td>{{id}}</td>
                    {{#each data as |val|}}
                    <td>{{val}}</td>
                    {{/each}}
                    <td>{{format-date createdAt}}</td>
                    <td>{{format-date updatedAt}}</td>
                    <td>
                      <a class="badge badge-info" title="View"
                        href="/dashboard/resource/{{../resource.id}}/api-data/{{id}}/view"><i
                          class="fa fa-eye text-light"></i></a>
                      <a class="badge badge-primary" href="/dashboard/resource/{{../resource.id}}/api-data/{{id}}/edit"
                        title="Edit"><i class="fa fa-pencil-alt text-light"></i></a>
                      <a class="badge badge-danger del-res-btn" data-id="{{id}}" title="Delete"><i
                          class="fa fa-trash text-light"></i></a>
                    </td>
                  </tr>
                  {{/each}}


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    {{>"footer"}}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{{#section 'script'}}
<script>
  "use strict";
  $(".del-res-btn").on("click", async (ev) => {
    ev.preventDefault()
    let id = $(ev.currentTarget).data("id");
    $.confirm({
      title: 'Delete!',
      content: 'Are you sure!',
      buttons: {
        confirm: function () {
          deleteResApiCall(id)
        },
        cancel: function () {
          $.alert('Canceled!');
        },
      }
    })
  })
  async function deleteResApiCall(id) {
    let uniqKey = "{{user.uniqkey}}";
    let resName = "{{resource.name}}";
    let res = await fetch(`/api/${uniqKey}/${resName}/${id}`, {
      method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      redirect: "follow",
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + localStorage.getItem("HIT_HTTP_access_token")
      }
    }).then(async response => {
      // HTTP 301 response
      // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
      if (response.redirected) {
        window.location.href = response.url;
        return;
      }
      let body = await response.json();
      if (!response.ok) {
        console.log(body)
        $.alert({
          title: 'OOps!',
          content: body.message ? body.message : body.error,
        });
        return;
      }

      $.alert({
        title: 'WOW!',
        content: 'Succesfully deleted resource'
      });
    })
      .catch(function (err) {
        console.info(err + " url: " + url);
      });

  }
</script>
{{/section}}