<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  {{>"sidebar"}}
  <!-- End of Sidebar -->


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      {{>"topbar"}}
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        {{!-- <h1 class="h3 mb-4 text-gray-800">Models</h1> --}}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary h5">Resource List
              <a href="/resource/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"><i
                  class="fas fa-download fa-sm text-white"></i> New Resource</a>
              <span class=" float-right text-sm text-info mr-4 h5">* Your unique Request id is:
                <code>{{user.uniqkey}}</code> </span>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                {{#if resources.length}}
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Base Url</th>
                    <th>Created On</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Base Url</th>
                    <th>Created On</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
                {{else}}
                <tr>
                  <td>No resources found</td>
                </tr>
                {{/if}}
                <tbody>
                  {{#each resources}}
                  <tr>
                    <td>{{name}}</td>
                    <td><a target="_blank"
                        href="https://{{../host}}/api/{{../user.uniqkey}}/{{name}}">https://{{../host}}/api/{{../user.uniqkey}}/{{name}}</a>
                    </td>
                    <td>{{format-date createAt}}</td>
                    <td>{{format-date updatedAt}}</td>
                    <td>
                      <a class="badge badge-info" title="View" href="/resource/{{id}}/view"><i
                          class="fa fa-eye text-light"></i></a>
                      <a class="badge badge-primary" href="/resource/{{id}}/edit" title="Edit"><i
                          class="fa fa-pencil-alt text-light"></i></a>
                      <a class="badge badge-danger del-res-btn" data-id="{{id}}" href="" title="Delete"><i
                          class="fa fa-trash text-light"></i></a>
                    </td>
                  </tr>
                  {{/each}}


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    {{>"footer"}}
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{{#section 'script'}}
<script>
  "use strict";
  $(".del-res-btn").on("click", async (ev) => {
    ev.preventDefault()
    let id = $(ev.currentTarget).data("id");
    $.confirm({
      title: 'Delete!',
      content: 'Are you sure!',
      buttons: {
        confirm: function () {
          deleteResApiCall(id)
        },
        cancel: function () {
          $.alert('Canceled!');
        },
      }
    })
  })
   async function deleteResApiCall(id) {
    let res = await fetch("/resource/" + id, {
      method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      redirect: "follow",
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + localStorage.getItem("HIT_HTTP_access_token")
      }
    }).then(async response => {
      // HTTP 301 response
      // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
      if (response.redirected) {
        window.location.href = response.url;
        return;
      }
      let body = await response.json();
      if (!response.ok) {
        console.log(body)
        $.alert({
          title: 'OOps!',
          content: body.message?body.message:body.error,
        });
        return;
      }

      $.alert({
        title: 'WOW!',
        content: 'Succesfully deleted resource'
      });
    })
      .catch(function (err) {
        console.info(err + " url: " + url);
      });

  }
</script>
{{/section}}